h1 {
    font-family: temeraire, serif;
font-style: normal;
font-weight: 500;
    text-align: center;
    font-size: 100px;
    color: #FF7F00;
    margin-top: 120px;
    margin-bottom: 30px;
    letter-spacing: 1px;


    
}

body {
    
    background-color: #732016;
    
    
}

div {
  width: 300px;
  
  position: relative;
  animation: abbey 4s;
  animation-iteration-count: infinite;
    padding-left: 100px
}

@keyframes abbey {
  from {bottom: 1000px;}
    to {top: auto;}
}

pre {
    text-align: center;
    font-family: temeraire, serif;
    font-style:normal;
    font-size: 22px;
    color: #fdec6e;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-top: 0px;
    border-top-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #FF7F00;
}

a {
  color:#FF7F00;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
